@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overscroll-behavior-y: none;
}
/* body::-webkit-scrollbar {
  display: none;
} */
html {
  scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root {
  --DARK_GRAYISH_BLUE: hsl(227, 12%, 61%);
  --VERY_DARK_BLUE: hsl(233, 12%, 13%);
  --PALE_RED: hsl(13, 100%, 96%);
  --GRAY: hsl(0, 0%, 98%);
  --BRIGHT_RED: hsl(12, 88%, 59%);
  --DARK_BLUE: hsl(228, 39%, 23%);
  --DARK_GRAY: hsla(0, 3%, 70%, 0.849);
}

/* GENERAL STYLES */

body {
  background-color: var(--GRAY);
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91%;
  margin: auto;
  margin-top: 1rem;
}
.mobile_nav_toggle {
  display: none;
}
a {
  text-decoration: none;
  font-family: inherit;
  color: var(--VERY_DARK_BLUE);
  font-size: 0.8rem;
  font-weight: 700;
}
.nav_list {
  list-style-type: none;
}
a:hover {
  color: var(--DARK_GRAYISH_BLUE);
}
nav {
  width: 25%;
}
.nav_items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.started_button {
  width: 7%;
}
.get_started {
  width: 100%;
  height: 1.8rem;
  background-color: var(--BRIGHT_RED);
  color: var(--GRAY);
  font-family: inherit;
  font-size: 0.8rem;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.get_started:hover {
  background-color: hsl(12, 83%, 82%);
}
.second_section {
  width: 50%;
  padding-left: 23rem;
  position: relative;
}
/* .second_section::before {
  content: "";
  position: absolute;
  border: 1px solid red;
  left: 0;
  top: 0;
  width: 50%;
  aspect-ratio: 1 / 1.2;
  z-index: -1;
  background-image: url("images/bg-tablet-pattern.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
} */
.hero_content {
  display: flex;
  width: 90vw;
  margin: auto;
  margin-top: 4rem;
}
.first_section {
  padding-top: 6rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.headline {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: inherit;
  max-width: 60%;
  color: var(--DARK_BLUE);
}
.headline-info {
  font-size: 1rem;
  font-weight: 400;
  color: var(--DARK_GRAYISH_BLUE);
  max-width: 37%;
}
.headline_button {
  width: 12%;
}
.call_to_action {
  width: 100%;
  height: 1.8rem;
  background-color: var(--BRIGHT_RED);
  color: var(--GRAY);
  font-family: inherit;
  font-size: 0.8rem;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.call_to_action:hover {
  background-color: hsl(12, 83%, 82%);
}
.more_info {
  display: flex;
  width: 90vw;
  margin: auto;
}
.first_info_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50%;
}
.second_info_section {
  max-width: 50%;
}
.second_headline {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--DARK_BLUE);
  max-width: 50%;
}
.second_headline_info {
  color: var(--DARK_GRAYISH_BLUE);
  font-family: inherit;
  font-size: 1rem;
  max-width: 38%;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  color: var(--DARK_BLUE);
}
.numbered_items li:nth-child(2) div {
  margin-top: 1.2rem;
}
.numbered_items li:nth-child(3) div {
  margin-top: 1.2rem;
}
.list_info1,
.list_info2,
.list_info3 {
  font-family: inherit;
  font-size: 1rem;
  color: var(--DARK_GRAYISH_BLUE);
  margin-top: 1rem;
}
.list_info1 {
  max-width: 51%;
}
.list_info2 {
  max-width: 52%;
}
.list_info3 {
  max-width: 45%;
}
.numbered_items {
  list-style-type: none;
  counter-reset: count;
}
.numbered_items li {
  counter-increment: count;
}
.numbered_items div {
  display: grid;
  align-items: center;
  column-gap: 1rem;
  grid-template-columns: min-content 1fr;
}
.numbered_items p {
  grid-column: 2 / -1;
}
.numbered_items div::before {
  content: "0" counter(count);
  background-color: var(--BRIGHT_RED);
  color: whitesmoke;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 100vw;
}
.statements_headline {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--DARK_BLUE);
  text-align: center;
}
.testimonial {
  margin-top: 2rem;
  /* height: 300px; */
}
.card {
  width: 100%;
  /* border: 1px solid red; */
  background-color: rgba(231, 225, 225, 0.788);
  position: relative;
}
.card_image {
  width: 5rem;
  margin: auto;
}
.anisha,
.ali,
.Richard,
.shanai {
  width: 5rem;
}
h4 {
  text-align: center;
  font-family: inherit;
  margin-top: 1rem;
}
.avartar_details {
  font-family: inherit;
  color: var(--DARK_GRAYISH_BLUE);
  width: 58%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}
.mobile_carousel_container {
  display: none;
}
.slider_container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}
.card_slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: 4600px;
  will-change: transform;
  gap: 1rem;
}
.card:nth-child(2) .avartar_details {
  width: 65%;
}
.card:nth-child(3) .avartar_details {
  width: 63%;
}
.testimonial_button {
  width: 7%;
  height: 2rem;
  margin: auto;
  margin-top: 2rem;
}
.get_started_button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--BRIGHT_RED);
  color: var(--GRAY);
  font-family: inherit;
  font-size: 0.8rem;
  cursor: pointer;
}
.get_started_button:hover {
  background-color: hsl(12, 83%, 82%);
}
.simplify {
  margin-top: 5rem;
  height: 220px;
  background-color: var(--BRIGHT_RED);
}
.team_section {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 4.3rem;
}
/* .team_details {

} */
h5 {
  font-family: inherit;
  color: var(--GRAY);
  font-size: 2rem;
  font-weight: 500;
  width: 80%;
}
.simplify_button {
  width: 7%;
  height: 2rem;
  margin-top: 1.5rem;
}
.white_button {
  border: none;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 0.8rem;
  color: var(--BRIGHT_RED);
  border-radius: 10px;
  cursor: pointer;
}
.white_button:hover {
  color: hsl(12, 83%, 82%);
}
.primary_footer {
  background-color: var(--VERY_DARK_BLUE);
  height: 200px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}
.footer_content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo_footer {
  filter: brightness(0) invert(1);
}
.facebook,
.youtube,
.twitter,
.pinterest,
.instagram {
  margin-inline-end: 10px;
}
.left_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_list {
  list-style-type: none;
}
.footer_nav {
  color: var(--GRAY);
  font-weight: 500;
}
.mid_footer_content {
  display: flex;
  width: 25%;
  justify-content: space-between;
}
.right_footer_content {
  width: 20%;
  display: flex;
  gap: 1rem;
}
.left_footer_nav > ul > li:nth-child(2) {
  margin-top: 0.72rem;
}
.left_footer_nav > ul > li:nth-child(3) {
  margin-top: 0.72rem;
}
.left_footer_nav > ul > li:nth-child(4) {
  margin-top: 0.72rem;
}
.right_footer_nav > ul > li:nth-child(2) {
  margin-top: 0.72rem;
}
.right_footer_nav > ul > li:nth-child(3) {
  margin-top: 0.72rem;
}
form {
  width: 65%;
}
input {
  height: 2.3rem;
  width: 100%;
  padding: 1rem;
  border: 0;
  outline: 0;
  border-radius: 10px;
}
.footer_button {
  height: 2.3rem;
  width: 3rem;
}
.go {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--BRIGHT_RED);
  color: whitesmoke;
  cursor: pointer;
}
.go:hover {
  background-color: hsl(12, 83%, 82%);
}
.word {
  position: absolute;
  right: 5%;
  color: var(--DARK_GRAYISH_BLUE);
  font-family: inherit;
}
.footer_nav:hover {
  color: var(--BRIGHT_RED);
}
.email_error {
  color: var(--BRIGHT_RED);
  font-size: 0.8rem;
  font-family: inherit;
  position: absolute;
  right: 15%;
  top: 40%;
}
.hide {
  display: none;
}
.hidden {
  display: none;
}
.mobile_footer {
  display: none;
}
@media (min-width: 1024px) {
  nav {
    width: 35%;
  }
  .started_button {
    width: 11%;
  }
  .headline {
    max-width: 80%;
    font-size: 2.5rem;
  }
  .headline-info {
    max-width: 70%;
    font-size: 0.9rem;
  }
  .headline_button {
    width: 25%;
  }
  .second_section {
    padding-left: 0;
  }
  .main {
    margin-top: 2.2rem;
  }
  .second_headline {
    max-width: 79%;
  }
  .second_headline_info {
    max-width: 70%;
    font-size: 0.9rem;
  }
  .list_info1 {
    max-width: 100%;
    font-size: 0.9rem;
  }
  .list_info2 {
    max-width: 100%;
    font-size: 0.9rem;
  }
  .list_info3 {
    max-width: 100%;
    font-size: 0.9rem;
  }
  .testimonial {
    margin-top: 2.5rem;
  }
  .testimonial_button {
    width: 12%;
  }
  .simplify_button {
    width: 12%;
  }
}
@media (min-width: 1200px) {
  .headline-info {
    max-width: 60%;
  }
  .second_headline_info {
    max-width: 60%;
  }
  .list_info1 {
    max-width: 90%;
  }
  .list_info2 {
    max-width: 95%;
  }
  .list_info3 {
    max-width: 80%;
  }
}
@media (min-width: 1300px) {
  .headline-info {
    max-width: 55%;
  }
  .second_headline_info {
    max-width: 55%;
  }
  .list_info1 {
    max-width: 80%;
  }
  .list_info2 {
    max-width: 85%;
  }
  .list_info3 {
    max-width: 80%;
  }
  .testimonial {
    margin-top: 3rem;
  }
}
@media (min-width: 1334px) {
  .headline {
    font-size: 3rem;
  }
}
@media (max-width: 545px) {
  .nav_items {
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    height: 53%;
    width: 90%;
    justify-content: flex-start;
    background-color: var(--GRAY);
    border-radius: 5px;
    gap: 1.5rem;
    padding-top: 3.5rem;
    z-index: 12000;
    visibility: hidden;
  }
  .nav_items[data-visible="true"] {
    visibility: visible;
  }
  .mobile_nav_toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 12000;
    width: 2rem;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url("./images/icon-hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
  }
  .mobile_nav_toggle[aria-expanded="true"] {
    background-image: url("./images/icon-close.svg");
  }
  a {
    font-size: 1.4rem;
  }
  .started_button {
    display: none;
  }
  .hero_content {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .first_section {
    flex-direction: column;
    max-width: 95%;
    margin: auto;
    padding-top: 2rem;
    gap: 1rem;
  }
  .second_section {
    width: 95%;
    margin: auto;
    padding-left: 0;
  }
  .headline {
    font-size: 3rem;
    max-width: 90%;
    margin: auto;
    text-align: center;
  }
  .headline-info {
    max-width: 92%;
    margin: auto;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.7;
  }
  .headline_button {
    width: 32%;
    margin: auto;
  }
  .more_info {
    flex-direction: column;
  }
  .main {
    margin-top: 3.5rem;
  }
  .first_info_section {
    max-width: 95%;
    margin: auto;
    gap: 1.5rem;
  }
  .second_headline {
    max-width: 70%;
    margin: auto;
    font-size: 2.5rem;
    text-align: center;
  }
  .second_headline_info {
    max-width: 95%;
    margin: auto;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.7;
  }
  .second_info_section {
    max-width: 95%;
    margin: auto;
    margin-top: 2.5rem;
  }
  .list_info1,
  .list_info2,
  .list_info3 {
    max-width: 100%;
    font-size: 1.2rem;
    line-height: 1.7;
  }
  .numbered_items p {
    grid-column: 1 / -1;
  }
  .numbered_items div::before {
    padding: 0.5rem 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .slider_container {
    display: none;
  }
  .mobile_carousel_container {
    display: block;
    position: relative;
    width: 92%;
    margin: auto;
    height: 250px;
    margin-top: 2rem;
  }
  .mobile_carousel {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .carousel_track {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 350ms ease-in;
  }
  .mobile_carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .mobile_card {
    width: 100%;
    height: 100%;
    background-color: rgba(231, 225, 225, 0.788);
    position: relative;
  }
  .previous_carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    border: 0;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  .next_carousel_button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    border: 0;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  li {
    list-style-type: none;
  }
  .anisha,
  .Richard,
  .shanai {
    width: 4rem;
  }
  .card_image {
    width: 4rem;
  }
  .avartar_details {
    width: 90%;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .testimonial_button {
    width: 25%;
  }
  .simplify {
    margin-top: 3rem;
    height: 300px;
  }
  .team_section {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    justify-content: flex-start;
  }
  .team_details {
    width: 73%;
  }
  h5 {
    width: 100%;
    text-align: center;
    font-size: 2.6rem;
  }
  .simplify_button {
    width: 27%;
    margin-top: 1.5rem;
  }
  .primary_footer {
    display: none;
  }
  .mobile_footer {
    display: block;
    background-color: var(--VERY_DARK_BLUE);
    position: relative;
  }
  .mobile_go {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--BRIGHT_RED);
    color: whitesmoke;
    cursor: pointer;
  }
  .mobile_footer_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mobile_right_footer_content {
    display: flex;
    gap: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .go {
    border: 0;
  }
  .footer_button {
    width: 4rem;
  }
  .mobile_mid_footer_content {
    display: flex;
    gap: 5rem;
    width: 60%;
    margin: auto;
  }
  .mobile_left_footer_nav > ul > li:nth-child(2) {
    margin-top: 0.72rem;
  }
  .mobile_left_footer_nav > ul > li:nth-child(3) {
    margin-top: 0.72rem;
  }
  .mobile_left_footer_nav > ul > li:nth-child(4) {
    margin-top: 0.72rem;
  }
  .mobile_right_footer_nav > ul > li:nth-child(2) {
    margin-top: 0.72rem;
  }
  .mobile_right_footer_nav > ul > li:nth-child(3) {
    margin-top: 0.72rem;
  }
  .mobile_footer_logo {
    width: 40%;
    margin: auto;
  }
  .mobile_left_content {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .facebook,
  .youtube,
  .twitter,
  .pinterest,
  .instagram {
    width: 3rem;
    margin-inline-end: 18px;
  }
  .mobile_contact_icons {
    width: 70%;
    margin: auto;
  }
  .mobile_word {
    color: var(--DARK_GRAYISH_BLUE);
    width: 69%;
    margin: auto;
    margin-top: 2rem;
  }
  .mobile_email_error {
    color: var(--BRIGHT_RED);
    font-size: 0.8rem;
    font-family: inherit;
    position: absolute;
    top: 16.2%;
    left: 11%;
  }
}
@media (max-width: 428px) {
  .nav_items {
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    height: 47%;
    width: 90%;
    justify-content: flex-start;
    background-color: var(--GRAY);
    border-radius: 5px;
    gap: 1.5rem;
    padding-top: 3.2rem;
    z-index: 12000;
    visibility: hidden;
  }
  .nav_items[data-visible="true"] {
    visibility: visible;
  }
  .mobile_nav_toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 12000;
    width: 2rem;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url("./images/icon-hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
  }
  .mobile_nav_toggle[aria-expanded="true"] {
    background-image: url("./images/icon-close.svg");
  }
  a {
    font-size: 1.1rem;
  }
  .started_button {
    display: none;
  }
  .hero_content {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .first_section {
    flex-direction: column;
    max-width: 95%;
    margin: auto;
    padding-top: 2rem;
    gap: 1rem;
  }
  .second_section {
    width: 95%;
    margin: auto;
    padding-left: 0;
  }
  .headline {
    font-size: 2.3rem;
    max-width: 90%;
    margin: auto;
    text-align: center;
  }
  .headline-info {
    max-width: 92%;
    margin: auto;
    font-size: 1rem;
    text-align: center;
    line-height: 1.7;
  }
  .headline_button {
    width: 32%;
    margin: auto;
  }
  .more_info {
    flex-direction: column;
  }
  .main {
    margin-top: 3.5rem;
  }
  .first_info_section {
    max-width: 95%;
    margin: auto;
    gap: 1.5rem;
  }
  .second_headline {
    max-width: 70%;
    margin: auto;
    font-size: 1.8rem;
    text-align: center;
  }
  .second_headline_info {
    max-width: 95%;
    margin: auto;
    font-size: 1rem;
    text-align: center;
    line-height: 1.7;
  }
  .second_info_section {
    max-width: 95%;
    margin: auto;
    margin-top: 2.5rem;
  }
  .list_info1,
  .list_info2,
  .list_info3 {
    max-width: 100%;
    font-size: 0.9rem;
    line-height: 1.7;
  }
  .numbered_items p {
    grid-column: 1 / -1;
  }
  .numbered_items div::before {
    padding: 0.3rem 1.3rem;
  }
  h3 {
    font-size: 1rem;
  }
  .slider_container {
    display: none;
  }
  .mobile_carousel_container {
    display: block;
    position: relative;
    width: 92%;
    margin: auto;
    height: 250px;
    margin-top: 2rem;
  }
  .mobile_carousel {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .carousel_track {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 350ms ease-in;
  }
  .mobile_carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .mobile_card {
    width: 100%;
    height: 100%;
    background-color: rgba(231, 225, 225, 0.788);
    position: relative;
  }
  .previous_carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    border: 0;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  .next_carousel_button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    border: 0;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  li {
    list-style-type: none;
  }
  .anisha,
  .Richard,
  .shanai {
    width: 4rem;
  }
  .card_image {
    width: 4rem;
  }
  .avartar_details {
    width: 90%;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .testimonial_button {
    width: 25%;
  }
  .simplify {
    margin-top: 3rem;
    height: 270px;
  }
  .team_section {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    justify-content: flex-start;
  }
  .team_details {
    width: 73%;
  }
  h5 {
    width: 100%;
    text-align: center;
  }
  .simplify_button {
    width: 27%;
    margin-top: 1.5rem;
  }
  .primary_footer {
    display: none;
  }
  .mobile_footer {
    display: block;
    background-color: var(--VERY_DARK_BLUE);
    position: relative;
  }
  .mobile_go {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--BRIGHT_RED);
    color: whitesmoke;
    cursor: pointer;
  }
  .mobile_footer_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mobile_right_footer_content {
    display: flex;
    gap: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .go {
    border: 0;
  }
  .footer_button {
    width: 4rem;
  }
  .mobile_mid_footer_content {
    display: flex;
    gap: 5rem;
    width: 60%;
    margin: auto;
  }
  .mobile_left_footer_nav > ul > li:nth-child(2) {
    margin-top: 0.72rem;
  }
  .mobile_left_footer_nav > ul > li:nth-child(3) {
    margin-top: 0.72rem;
  }
  .mobile_left_footer_nav > ul > li:nth-child(4) {
    margin-top: 0.72rem;
  }
  .mobile_right_footer_nav > ul > li:nth-child(2) {
    margin-top: 0.72rem;
  }
  .mobile_right_footer_nav > ul > li:nth-child(3) {
    margin-top: 0.72rem;
  }
  .mobile_footer_logo {
    width: 40%;
    margin: auto;
  }
  .mobile_left_content {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .facebook,
  .youtube,
  .twitter,
  .pinterest,
  .instagram {
    width: 2.3rem;
    margin-inline-end: 18px;
  }
  .mobile_contact_icons {
    width: 70%;
    margin: auto;
  }
  .mobile_word {
    color: var(--DARK_GRAYISH_BLUE);
    width: 69%;
    margin: auto;
    margin-top: 2rem;
  }
  .mobile_email_error {
    color: var(--BRIGHT_RED);
    font-size: 0.8rem;
    font-family: inherit;
    position: absolute;
    top: 16.2%;
    left: 11%;
  }
}
@media (max-width: 375px) {
  .nav_items {
    flex-direction: column;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -17%);
    height: 49%;
    width: 90%;
    justify-content: flex-start;
    background-color: var(--GRAY);
    border-radius: 5px;
    gap: 1.5rem;
    padding-top: 2.5rem;
    z-index: 12000;
    visibility: hidden;
  }
  .nav_items[data-visible="true"] {
    visibility: visible;
  }
  .mobile_nav_toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 12000;
    width: 2rem;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url("./images/icon-hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
  }
  .mobile_nav_toggle[aria-expanded="true"] {
    background-image: url("./images/icon-close.svg");
  }
  a {
    font-size: 1rem;
  }
  .started_button {
    display: none;
  }
  .hero_content {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .first_section {
    flex-direction: column;
    max-width: 95%;
    margin: auto;
    padding-top: 2rem;
    gap: 1rem;
  }
  .second_section {
    width: 95%;
    margin: auto;
    padding-left: 0;
  }
  .headline {
    font-size: 2rem;
    max-width: 90%;
    margin: auto;
    text-align: center;
  }
  .headline-info {
    max-width: 92%;
    margin: auto;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.7;
  }
  .headline_button {
    width: 32%;
    margin: auto;
  }
  .more_info {
    flex-direction: column;
  }
  .main {
    margin-top: 3.5rem;
  }
  .first_info_section {
    max-width: 95%;
    margin: auto;
    gap: 1.5rem;
  }
  .second_headline {
    max-width: 70%;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
  }
  .second_headline_info {
    max-width: 95%;
    margin: auto;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.7;
  }
  .second_info_section {
    max-width: 95%;
    margin: auto;
    margin-top: 2.5rem;
  }
  .list_info1,
  .list_info2,
  .list_info3 {
    max-width: 100%;
    font-size: 0.9rem;
    line-height: 1.7;
  }
  .numbered_items p {
    grid-column: 1 / -1;
  }
  .numbered_items div::before {
    padding: 0.3rem 1.3rem;
  }

  h3 {
    font-size: 0.9rem;
  }
  .numbered_items div {
    position: relative;
  }
  /* h3::before {
    content: "";
    position: absolute;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: orange;
  } */
  .slider_container {
    display: none;
  }
  .mobile_carousel_container {
    display: block;
    position: relative;
    width: 92%;
    margin: auto;
    height: 250px;
    margin-top: 2rem;
  }
  .mobile_carousel {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .carousel_track {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 350ms ease-in;
  }
  .mobile_carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .mobile_card {
    width: 100%;
    height: 100%;
    background-color: rgba(231, 225, 225, 0.788);
    position: relative;
  }
  .previous_carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    border: 0;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  .next_carousel_button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    border: 0;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  li {
    list-style-type: none;
  }
  .anisha,
  .Richard,
  .shanai {
    width: 4rem;
  }
  .card_image {
    width: 4rem;
  }
  .avartar_details {
    width: 90%;
    font-size: 0.9rem;
  }
  .testimonial_button {
    width: 25%;
  }
  .simplify {
    margin-top: 3rem;
    /* height: 270px; */
  }
  .team_section {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    justify-content: flex-start;
  }
  .team_details {
    width: 73%;
  }
  h5 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .simplify_button {
    width: 27%;
    margin-top: 1.5rem;
  }
  .primary_footer {
    display: none;
  }
  .mobile_footer {
    display: block;
    background-color: var(--VERY_DARK_BLUE);
    position: relative;
  }
  .mobile_go {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--BRIGHT_RED);
    color: whitesmoke;
    cursor: pointer;
  }
  .mobile_footer_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mobile_right_footer_content {
    display: flex;
    gap: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .go {
    border: 0;
  }
  .footer_button {
    width: 4rem;
  }
  .mobile_mid_footer_content {
    display: flex;
    gap: 5rem;
    width: 60%;
    margin: auto;
  }
  .mobile_left_footer_nav > ul > li:nth-child(2) {
    margin-top: 0.72rem;
  }
  .mobile_left_footer_nav > ul > li:nth-child(3) {
    margin-top: 0.72rem;
  }
  .mobile_left_footer_nav > ul > li:nth-child(4) {
    margin-top: 0.72rem;
  }
  .mobile_right_footer_nav > ul > li:nth-child(2) {
    margin-top: 0.72rem;
  }
  .mobile_right_footer_nav > ul > li:nth-child(3) {
    margin-top: 0.72rem;
  }
  .mobile_footer_logo {
    width: 40%;
    margin: auto;
  }
  .mobile_left_content {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .facebook,
  .youtube,
  .twitter,
  .pinterest,
  .instagram {
    width: 2rem;
    margin-inline-end: 15px;
  }
  .mobile_contact_icons {
    width: 70%;
    margin: auto;
  }
  .mobile_word {
    color: var(--DARK_GRAYISH_BLUE);
    width: 69%;
    margin: auto;
    margin-top: 2rem;
  }
  .mobile_email_error {
    color: var(--BRIGHT_RED);
    font-size: 0.8rem;
    font-family: inherit;
    position: absolute;
    top: 16%;
    left: 11%;
  }
}
