@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root {
  --DARK_GRAYISH_BLUE: hsl(227, 12%, 61%);
  --VERY_DARK_BLUE: hsl(233, 12%, 13%);
  --PALE_RED: hsl(13, 100%, 96%);
  --GRAY: hsl(0, 0%, 98%);
  --BRIGHT_RED: hsl(12, 88%, 59%);
  --DARK_BLUE: hsl(228, 39%, 23%);
}

/* GENERAL STYLES */

body {
  background-color: var(--GRAY);
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  width: 91%;
  margin: auto;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: var(--VERY_DARK_BLUE);
  font-size: 0.8rem;
  font-weight: 700;
}
.nav_list {
  list-style-type: none;
}
nav {
  width: 25%;
}
.nav_items {
  border: 1px solid red;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.started_button {
  width: 7%;
}
.get_started {
  width: 100%;
  height: 1.8rem;
  background-color: var(--BRIGHT_RED);
  color: var(--GRAY);
  font-family: inherit;
  font-size: 0.8rem;
  border-radius: 10px;
  border: 0;
}
.second_section {
  border: 1px solid green;
  width: 50%;
  padding-left: 23rem;
}
.hero_content {
  display: flex;
  border: 1px solid red;
  width: 90vw;
  margin: auto;
  margin-top: 4rem;
}
.first_section {
  border: 1px solid black;
  padding-top: 6rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.headline {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: inherit;
  border: 1px solid blue;
  max-width: 60%;
  color: var(--DARK_BLUE);
}
.headline-info {
  border: 1px solid red;
  font-size: 1rem;
  font-weight: 400;
  color: var(--DARK_GRAYISH_BLUE);
  max-width: 37%;
}
.headline_button {
  width: 12%;
  border: 1px solid red;
}
.call_to_action {
  width: 100%;
  height: 1.8rem;
  background-color: var(--BRIGHT_RED);
  color: var(--GRAY);
  font-family: inherit;
  font-size: 0.8rem;
  border-radius: 10px;
  border: 0;
}
.more_info {
  border: 1px solid red;
  display: flex;
  width: 90vw;
  margin: auto;
}
.first_info_section {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50%;
}
.second_info_section {
  border: 3px solid green;
  max-width: 50%;
}
.second_headline {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--DARK_BLUE);
  border: 1px solid red;
  max-width: 50%;
}
.second_headline_info {
  color: var(--DARK_GRAYISH_BLUE);
  font-family: inherit;
  font-size: 1rem;
  max-width: 38%;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  color: var(--DARK_BLUE);
}
.numbered_items li:nth-child(2) div {
  margin-top: 1.2rem;
}
.numbered_items li:nth-child(3) div {
  margin-top: 1.2rem;
}
.list_info1,
.list_info2,
.list_info3 {
  font-family: inherit;
  font-size: 1rem;
  color: var(--DARK_GRAYISH_BLUE);
  margin-top: 1rem;
}
.list_info1 {
  max-width: 51%;
}
.list_info2 {
  max-width: 52%;
}
.list_info3 {
  max-width: 45%;
}
.numbered_items {
  list-style-type: none;
  counter-reset: count;
}
.numbered_items li {
  counter-increment: count;
}
.numbered_items div {
  border: 1px solid blue;
  display: grid;
  align-items: center;
  column-gap: 1rem;
  grid-template-columns: min-content 1fr;
}
.numbered_items p {
  grid-column: 2 / -1;
}
.numbered_items div::before {
  content: "0" counter(count);
  background-color: var(--BRIGHT_RED);
  color: whitesmoke;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 100vw;
}
.statements_headline {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--DARK_BLUE);
  text-align: center;
}
.testimonial {
  border: 1px solid red;
  margin-top: 2rem;
}
.card {
  width: 100%;
  /* border: 1px solid red; */
  background-color: rgba(231, 225, 225, 0.788);
  position: relative;
}
.card_image {
  border: 1px solid red;
  width: 5rem;
  margin: auto;
}
.anisha,
.ali,
.Richard,
.shanai {
  width: 5rem;
}
h4 {
  text-align: center;
  font-family: inherit;
  margin-top: 1rem;
}
.avartar_details {
  font-family: inherit;
  color: var(--DARK_GRAYISH_BLUE);
  border: 1px solid blue;
  width: 58%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}
.slider_container {
  border: 1px solid blue;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}
.card_slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: 3000px;
  will-change: transform;
  gap: 1rem;
}
.card:nth-child(2) .avartar_details {
  width: 65%;
}
.card:nth-child(3) .avartar_details {
  width: 63%;
}
